<head><link href=".././css/styles.css?eb006a2360b74254a818" rel="stylesheet"></head><footer class="bottom-bar-nav fixed-bottom">
  <div class="container px-0">
    <nav class="d-flex align-items-center justify-content-between flex-nowrap">
      <button type="button" class="icon icon-home_grey active">
        <span>홈</span>
      </button>
      <!-- <button type="button" class="icon icon-mailopen_grey">
        <span>쪽지문의</span>
      </button> -->
      <button type="button" class="icon icon-community_grey" onclick="location.href='/community/comm_home.html'">
        <span>커뮤니티</span>
      </button>
      <button type="button" class="icon icon-like_grey" onclick="location.href='/message/co_work_home.html'">
        <span>찜목록</span>
      </button>
      <button type="button" class="icon icon-mail_grey">
        <span>부잇챗</span>
      </button>
      <button type="button" class="icon icon-user_grey">
        <span>설정</span>
      </button>
    </nav>
  </div>
</footer><script src=".././js/index.bundle.js?eb006a2360b74254a818"></script>