<head><link href=".././css/styles.css?eb006a2360b74254a818" rel="stylesheet"></head><header class="top-bar">
  <nav class="d-flex align-items-center justify-content-between">
    <div>
      <button type="button" class="icon icon-prev_grey" onclick="history.back();">
        <span class="invisible">뒤로가기</span>
      </button>
    </div>
    <div class="text-center">
      <h1 class="d-block">공인중개사 Co-Work</h1>
    </div>
    <div>
      <button type="button" class="icon icon-pin_grey mr-3" data-toggle="modal" data-target="#areaSet">
        <span hidden>지역설정</span>
      </button>
      <button type="button" class="icon icon-search_grey mr-2" data-toggle="modal" data-target="#searchCowork">
        <span hidden>검색</span>
      </button>
      <button type="button" class="icon icon-tags" data-toggle="modal" data-target="#pushKeyword">
        <!-- <i class="icon icon-tags"></i> -->
        <span hidden>키워드알림</span>
      </button>
    </div>
  </nav>
</header><script src=".././js/index.bundle.js?eb006a2360b74254a818"></script>