<head><link href=".././css/styles.css?eb006a2360b74254a818" rel="stylesheet"></head><header class="top-bar">
  <nav class="d-flex align-items-center justify-content-between">
    <div>
      <button type="button" class="icon icon-prev_grey" onclick="history.back();">
        <span class="invisible">뒤로가기</span>
      </button>
    </div>
    <div class="text-center strcut">
      <h1 class="strcut d-block">부잇부동산 asdfasdf asdf asdf asdf asdf asdfasdfasdfasdf asdf</h1>
    </div>
    <div>
      <button type="button" class="icon icon-like_grey mr-2 likeit">
        <span hidden>좋아요</span>
      </button>
      <button type="button" class="icon icon-menu_grey" id="dropMenu">
        <span hidden>편집메뉴</span>
      </button>
    </div>
  </nav>
</header><script src=".././js/index.bundle.js?eb006a2360b74254a818"></script>