<head><link href=".././css/styles.css?eb006a2360b74254a818" rel="stylesheet"></head><header class="top-bar">
  <nav class="d-flex align-items-center justify-content-center">
    <div></div>
    <div class="text-center">
      <img src="/images/logo.svg" class="logo-bar" alt="부잇 로고" />
    </div>
    <div>
      <button type="button" class="icon icon-share_dgrey" data-toggle="modal" data-target="#">
        <span hidden>공유</span>
      </button>
    </div>
  </nav>
</header><script src=".././js/index.bundle.js?eb006a2360b74254a818"></script>