<head><link href=".././css/styles.css?eb006a2360b74254a818" rel="stylesheet"></head><header class="top-bar">
  <nav class="d-flex align-items-center justify-content-between">
    <div>
      <button type="button" class="icon icon-prev_grey" onclick="history.back();">
        <span class="invisible">뒤로가기</span>
      </button>
    </div>
    <div class="text-center">
      <h1>이메일 인증</h1>
    </div>
    <div>&nbsp;</div>
  </nav>
</header>
<script src=".././js/index.bundle.js?eb006a2360b74254a818"></script>